<!DOCTYPE html>
<html lang="en">
  <head>
    <title>YOU'LL GET</title>
  </head>

<body class="welcome welcome-index">
  <div id="YLG-content">
     <div class="jumbotron">
       <h1 class="title">YOU'LL GET <sup>®</sup></h1>
       <p class="slogan">We help you to get JOB OFFER that you deserve.</p>
       <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">Apply Now</a></p>
    </div>
    <div class="section-2">
       <div class="content-2">
         <div class="short-line"></div>
         <h1 class="title">Only attractive job vacancy waiting for you</h1>
         <p class="description-2">"blablabla"</p>
         <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1fc0dy37zetj31kw0qhx6p.jpg">
    </div>
    <div class="section-3 clearfix">
       <div class="content-3">
         <div class="feature-title">
           <div class="short-line"></div>
           <h1 class="title">Bla bla</h1>
         </div>
      <div class="row">
      <div class="col-sm-4 ">
        <div class="feature-block">
          <img src="http://a1.qpic.cn/psb?/V147axUa38Vmwr/2UdNuJVNFC1XSwP*Ej5IglUf1VDQe7WP26Jrk15FDiI!/b/dCABAAAAAAAA&bo=AAIAAgACAAIDCSw!&rf=viewer_4" alt="resume" class = "img-thhumbnail">
          <div class="caption">
            <h2>Set a goal</h2>
            <p>blablablabla</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="feature-block">
          <img src="http://a3.qpic.cn/psb?/V147axUa38Vmwr/fruODR*7LSzach93AIJ07Gxo3YD0SBNVRcckWXYt4Kc!/b/dLAAAAAAAAAA&bo=AAIAAgACAAIDACU!&rf=viewer_4" alt="target" class = "img-thhumbnail">
          <div class="caption">
            <h2>Set a goal</h2>
            <p>blablablabla</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="feature-block">
          <img src="http://a1.qpic.cn/psb?/V147axUa38Vmwr/DVDOu8zDAcYMstNWTZc3Lxy.BaiR9gwqsYAbGnGxT0w!/b/dCABAAAAAAAA&bo=AAIAAgACAAIDACU!&rf=viewer_4" alt="chat" class = "img-thhumbnail">
          <div class="caption">
            <h2>Set a goal</h2>
            <p>blablablabla</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


   </div>
</body>
</html>
