  <div class="jumbotron">
    <h1 class="title">YOU'LL GET <sup>®</sup></h1>
    <p class="slogan">We help you to get JOB OFFER that you deserve.
    </p>

    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">Apply Now</a></p>
    <br />
      <br />
        <br />
          <br />
            <br />
              <br />
                <br />
                  <br />
                  <br />
                  <br />
  </div>
