<div class="resume-list-panel">
  <div class="resume-list-check">
<h2 class="resume-list"><%= @job.title %> - Resume List </h2>

<hr />
<div class="content-for-new-vacancy">
<%= render :partial => "resume", :collection => @resumes, :as => :resume %>
</div>
</div>
</div>
