/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */


//for welcome index jumbotron //

 .jumbotron {
    display: block;
    background-image:url('https://ww2.sinaimg.cn/large/006tNc79gy1fbxe8mchp8j31kw0siu12.jpg');
    background-size: cover;
    background-repeat-x: initial, initial;
    background-repeat-y: initial, initial;
    background-attachment: initial, initial;
    background-origin: initial, initial;
    background-clip: initial, initial;
    background-color: initial;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 100%;
    height: 700px;
    position: relative;
}

.jumbotron .title {
  font-family: "Century","Georgia", serif;
  font-weight: bolder;
  font-size: 4.5em;
  text-align: left;
  margin-top: 130px;
  padding-left: 120px;
}

.jumbotron .slogan {
  font-family: "Candara", "Gill Sans", "Georgia", "Times";
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: left;
  padding-left: 125px;
  color: #242324;
  top: 12px;
}

.jumbotron .lead {
  margin-top: 60px;
  text-align: left;
  padding-left: 275px;
  color: white;
}

.lead .btn-danger {
    color: #fff;//字体颜色
    background-color: #E61C64;//背景颜色
    border-color: #E61C64;//边框颜色
}

.lead .btn-danger:hover {
    background-color: #23429E;//鼠标放置在btn上的背景颜色
    border-color: #23429E;//鼠标放置在btn上的边框颜色
}


//for welcome index section-2 //

.section-2 .content-2 {
  padding-top: 25px;
  }

.short-line {
  display: block;
  background: #E61C64;
  border-style: none;
  border-radius: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  z-index: 53;
  width: 100px;
  height: 6px;
  position: relative;
  }

.title {
  font-family: 'GalanoGrotesque', sans-serif;
  font-weight: bolder;
  font-size: 3em;
  text-align: center;
  padding-top: 8px;
  padding-left: 300px;
  padding-right: 300px;

}

.description-2 {
  font-family: 'GalanoGrotesque', sans-serif;
  font-weight: bolder;
  font-size: 1.5em;
  text-align: center;
  margin-top: 70px;
  padding-bottom: 50px;
  padding-left: 300px;
  padding-right: 300px;
}

.section-2 .content-2 img {
   display: block;
   background-size: cover;
   background-repeat-x: initial, initial;
   background-repeat-y: initial, initial;
   background-attachment: initial, initial;
   background-origin: initial, initial;
   background-clip: initial, initial;
   background-color: initial;
   background-size: cover;
   margin-left: auto;
   margin-right: auto;
   margin-top: 0;
   width: auto;
   max-width: 100%;
   height: auto;
   position: relative;
}


// for welcome index section-3 //


.section-3 {
  background-color: #e2e3e1;
  height: 680px;
}

.section-3 .content-3 {
  padding-top: 55px;
  }

.row {
  margin-top: 50px;
}

.caption {
  margin: 30px;
  text-align: center;
  top: 20px;

}

.thumbnail {
  border: 0 none;
  box-shadow: none;
  margin-top: 60px;
}

.row .col-sm-4 {
  text-align: center;
  vertical-align: middle;
  padding-right: 1px;
  padding-left: 1px;

}

.feature-block img {
    width: 160px;
    height: 160px;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    margin-top: 40px;
}

.caption h2 {
    font-family: "Calibri", sans-serif;
    font-size: 2.5em;
    line-height: 28px;
    color: #333;
    margin-top: 3px;
    font-weight: 500;
    box-sizing: border-box;
    text-align: center;

}

.caption p {
    font-family: "Calibri", sans-serif;
    line-height: 24px;
    font-size: 1.5em;
    color: #666;
    text-align: center;
    // margin: 0 auto 5px;
    padding-top: 10px;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
}


// for welcome indext footer //


.bg-lightgray{
    background-color:#3e3e3e;
    height: 200px;
}

.footer-info {
  margin: 55px;
}

.copyrights {
  color: #fff

}

.logdown:hover,
.logdown:focus {
  color: #E61C64;
  border-color: #E61C64;
}

 .fa-github-square {
     color: #fff;
 }

 .fa-envelope-square {
     color: #fff;
 }

 #social-gh:hover {
     color: #E61C64;
 }

 #social-em:hover {
     color: #E61C64;
 }



@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


// for navbar //

.navbar-default {
    background-color: #fff;//背景颜色
    border-color: #fff;//边框色
    margin-bottom: 0;//底部 margin 不撑开距离
    margin-top: -30px;//底部 margin 不撑开距离
}

.navbar-default .navbar-brand {
   font-family:  "Century","Georgia", serif;
   font-weight: bold;
   color: #333333;//字体颜色
   padding-left: 120px;
   padding-right: 40px;
   line-height: 30px;//文字行高
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #E61C64;//鼠标放置在链接上的文字颜色
  background-color: transparent;//鼠标放置在链接上的背景颜色，这里设为透明
}

.navbar-brand > img {
    display: inline-block;	//图片和链接文字显示在同一行
    margin-right: 7px; //图片和链接文字拉开一点距离
    margin-bottom: 5px;
    width: 24px; //定制图片宽度
    height: 24px; //定制图片高度
}

.navbar-default .navbar-right {
  margin-right: 100px;
}

.navbar-default .navbar-left {
  margin-top: 5px;
}

.navbar-default .navbar-nav > li > a {
   font-family:  "Geneva", "Gill Sans", serif;
   font-size: 16px;
   color: #333333;
   padding-right: 23px;
   padding-left: 23px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333333;
  border-bottom-style:solid;
  border-color: #E61C64;
  border-width: 2px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #E61C64;
  background-color: #E61C64;
}

.fa-h-square {
  position: absolute;
  top: 4px;
  left: 105px;
  width: 30px;
  color: #E61C64;
}

.navbar-right .login .log-in-btn {
  color: #E61C64;
}

.log-in-btn {
    display: block;
    border: 1px solid rgba(230,28,100,0.86);
    background-color: transparent;
    margin: 14px 5px 14px 35px;
    border-radius: 6px;
    height: 32px;
    width: 68px;
    color: #fff;
    text-align: center;
    padding: 0 !important;
    line-height: 32px !important;
}

.log-in-btn:hover {
    color: #fff !important;
    background-color: rgba(230,28,100,0.86) !important;
}

.navbar-right .signup .sign-up-btn {
  color: #fff;
}

.sign-up-btn {
    display: block;
    border: 1px solid #E61C64;
    background-color: rgba(230,28,100,0.86);
    margin: 14px 0 14px 15px;
    border-radius: 6px;
    height: 32px;
    width: 68px;
    color: #fff;
    text-align: center;
    padding: 0 !important;
    line-height: 32px !important;
}

.sign-up-btn:hover {
    color: #fff !important;
    background-color: rgba(230,28,100,0.99) !important;
}


.btn-add {
    color: #fff;//字体颜色
    background-color: #919191;//背景颜色
    border-color: #919191;//边框颜色
    margin-right: 57px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.btn-add:hover {
    color: #fff;//字体颜色
    background-color: #E61C64;//鼠标放置在btn上的背景颜色
    border-color: #E61C64;//鼠标放置在btn上的边框颜色
}

.btn-info {
    color: #fff;//字体颜色
    background-color: #919191;//背景颜色
    border-color: #919191;//边框颜色
}

.btn-info:hover {
    color: #fff;//字体颜色
    background-color: #E61C64;//鼠标放置在btn上的背景颜色
    border-color: #E61C64;//鼠标放置在btn上的边框颜色
}



// for login and sign up //


@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  border-radius: 2px;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}

.loginmodal-container h2 {
  text-align: center;
  margin-bottom: 35px;
  margin-top: 10px;
}


.loginmodal-container .form-actions :hover {
    color: #fff !important;
    background-color: rgba(230,28,100,0.99) !important;
}


/****** LOGIN Panle ******/


.Login-page {
  height: 550px;
  background-color: #edeeef
}


.Login-panel {
  text-align: center;
  margin-top: 15px;
  padding-top: 25px;
}

.Login-title {
  margin-top: 25px;
  font-size: 35px;
  margin-bottom: 45px;
}

.form-inputs {
  font-family: "Geneva", "Gill Sans", serif;
  font-size: 16px;
  color: #595958
}

.user_email {
  width: 350px;
  height: 70px;
  text-align: left;
  margin-left: 540px;
}

.user_password{
  width: 350px;
  height: 70px;
  margin-left: 540px;
  text-align: left;
}

.user_password_comfirmation {
  width: 350px;
  height: 70px;
  margin-left: 540px;
  text-align: left;
}

.user_remember_me {
  margin-left: 540px;
  text-align: left;
  padding-top: -15px;
  font-size: 14px;
}



.form-actions .btn-default {
    margin-top: 10px;
    text-align: center;
    font-family: "Geneva", "Gill Sans", serif;
    font-size: 16px;
    margin-bottom: 15px;
    color: #fff !important;
    background-color: rgb(230,28,100) !important;
    border-color: rgb(230,28,100) !important;
    text-align: center;

}

.form-actions :hover {
    color: #fff !important;
    background-color: rgb(35,66,158) !important;
    border-color: rgb(35,66,158) !important;
    text-align: center;
}
