/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 .jumbotron {
  background-image:url('https://ww2.sinaimg.cn/large/006tNc79gy1fbxe8mchp8j31kw0siu12.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;

}


.title {
  font-family: "Century Schoolbook", "Gill Sans", "Times";
  font-size: 3em;
  text-align: left;
  margin-top: 140px;
  padding-left: 120px;
}

.slogan {
  font-family: "Candara", "Gill Sans", "Times";
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: left;
  padding-left: 120px;
  color: #242324;
  top: 12px;
}

.lead {
  margin-top: 80px;
  text-align: left;
  padding-left: 275px;
  color: white;
}


@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
