// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.job-list {
  margin-top: 40px;
}


.pull-right {
      margin-top: 20px;
      margin-right: 960px;
      padding-bottom: 20px;
}

.pull-right :hover {
      color: #fff !important;
      background-color: rgb(230,28,100) !important;
      border-color: rgb(230,28,100) !important;
}

.table-striped .custab {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
}

.custab {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
}

.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}

.custab thead {
  background-color: #337ab7
}

.row-title {
  font-family: "Geneva", "Gill Sans", serif;
  font-size:20px;
  color: #fff
}

.row-title th {
  text-align: center;
}

.salary-info {
  font-family: "Geneva", "Gill Sans", serif;
  font-size:18px;
  font-weight: bolder;
}


.row-data {
  height: 60px;
  font-family: "Geneva", "Gill Sans", serif;
  font-size:16px;
  text-align: center;
  color: #595958
}

.apply-btn :hover {
      color: #fff !important;
      background-color: rgb(230,28,100) !important;
      border-color: rgb(230,28,100) !important;
}
