// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// for jobs index page //

.job-list {
  margin-top: 40px;
}

.pull-right {
      margin-top: 20px;
      margin-right: 850px;
      padding-bottom: 20px;
}

.pull-right :hover {
      color: #fff !important;
      background-color: rgb(230,28,100) !important;
      border-color: rgb(230,28,100) !important;
}

.table-striped .custab {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
}

.custab {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
}

.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}

.custab thead {
  background-color: #337ab7
}

.row-title {
  font-family: "Geneva", "Gill Sans", serif;
  font-size:18px;
  color: #fff
}

.row-title th {
  text-align: center;
}

.salary-info {
  font-family: "Geneva", "Gill Sans", serif;
  font-size:18px;
  font-weight: bolder;
}

.row-data {
  height: 60px;
  font-family: "Geneva", "Gill Sans", serif;
  font-size:16px;
  text-align: center;
  color: #595958
}

.apply-btn .btn-default {
      color: #fff !important;
      background-color: rgb(230,28,100) !important;
      border-color: rgb(230,28,100) !important;
}

.apply-btn :hover,
.apply-btn :focus {
      color: #fff !important;
      background-color: rgb(51,122,183) !important;
      border-color: rgb(51,122,183) !important;
}

.apply-btn .btn-default :visited,
.apply-btn .btn-default :active {
     color: #fff !important;
     background-color: rgb(230,28,100) !important;
     border-color: rgb(230,28,100) !important;
}

// for jobs show page //

.detail-panel {
  height: 500px;
  background-color: #edeeef
}

.job-detail {
  text-align: center;
  margin-top: 15px;
  padding-top: 30px;
}

.job-detail h1 {
  font-family: "Geneva", "Gill Sans", serif;
  font-size: 40px;
  margin-bottom: 50px;

}

.job-detail p {
  font-family: "Geneva", "Gill Sans", serif;
  font-size: 20px;
  color: #595958
}


.apply-this-vacancy {
    margin-top: 150px;
    text-align: center;
}

.apply-this-vacancy .btn-default {
    font-family: "Geneva", "Gill Sans", serif;
    font-size: 25px;
    color: #fff !important;
    background-color: rgb(230,28,100) !important;
    border-color: rgb(230,28,100) !important;
    width: 180px;
    height: 55px;
}

.apply-this-vacancy :hover {
    color: #fff !important;
    background-color: rgb(35,66,158) !important;
    border-color: rgb(35,66,158) !important;
    text-align: center;
}

// for resume new page //

.submit-resume {
  height: 500px;
  background-color: #edeeef
}

.content-1 {
  text-align: center;
  margin-top: 15px;
  padding-top: 30px;
}

.content-1 h1 {
  font-family:  "Geneva", "Gill Sans", serif;
  font-size: 20px;
  margin-bottom: 50px;
}

.content-2 {
  font-family: "Geneva", "Gill Sans", serif;
  font-size: 18px;
  color: #595958
}

.resume_content {
  width: 350px;
  height: 100px;
  text-align: left;
  margin-left: 540px;
}

.resume_attachment {
  margin-left: 540px;
  text-align: left;
}

.content-1 .jobs-title {
  font-family: "Geneva", serif;
  font-size: 40px;
  color: #E61C64;;
}


.sumbit-btn {
    margin-top: 50px;
    text-align: center;
    font-family: "Geneva", "Gill Sans", serif;
    font-size: 25px;

}

.sumbit-btn :hover {
    color: #fff !important;
    background-color: rgb(230,28,100) !important;
    border-color: rgb(230,28,100) !important;
    text-align: center;
}


// for admin job indext panel //

// .pull-right-add {
//       margin-top: 20px;
//       margin-right: 50px;
//       padding-bottom: 20px;
// }

.pull-right-add .btn-add {
      color: #fff !important;
      background-color: rgb(230,28,100) !important;
      border-color: rgb(230,28,100) !important;
}

//
// .btn-add:hover,
// .btn-add:focus {
//   color: #fff !important;
//   background-color: rgb(51,122,183) !important;
//   border-color: rgb(51,122,183) !important;
// }
//
// .btn-add:active,
// .btn-add:visited {
//   color: #fff !important;
//   background-color: rgb(51,122,183) !important;
//   border-color: rgb(51,122,183) !important;
// }

.row-data .btn-info {
    color: #fff;//字体颜色
    background-color: #919191;//背景颜色
    border-color: #919191;//边框颜色
    width: 32px;
    height: 32px;

}

.row-data .btn-info:hover {
    color: #fff;//字体颜色
    background-color: #E61C64;//鼠标放置在btn上的背景颜色
    border-color: #E61C64;//鼠标放置在btn上的边框颜色
}

.row-data .btn-info > i {
  // height: 100px;
  font-size: 20px;
  padding-top: 4px;
}
